{% extends 'base/layout.html' %}
{% load static %}
{{msg}}

{% block content %}
{% if messages %}
{% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{message.tags}} 
        {% endif %}" role="alert">{{message}}</div>
{% endfor %}
{% endif %}
<div class="container">
        <form action="" method="POST" class ="mt-4">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Search" class="btn btn-info">
        </form>
</div>
{% if result %}
<div class="container">
        <table class="table table-dark table-striped" >
                <thead >
                <tr>
                        <th scope="col">#</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                        {% for r in result %}
                        <tr>
                        <th scope="row">{{r.id}}</th>
                        <td>{{r.student_name}}</td>
                        <td>{{r.department}}</td>
                        <td>
                                <a href="edit-student/{{r.id}}">Edit</a>
                                <a href="delete-student/{{r.id}}">Delete</a>
                        </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>
{% for r in result %}
{{ r.student_name }}
<br>
<a href="delete-student/{{r.id}}">DELETE</a>
<br>
{% endfor %}
{% endif %}

{% endblock %}


